{% extends 'autoXMD/home.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}MusicXML Converter{% endblock %}
{% block body %}
	<h1>MusicXML <i class="fas fa-arrow-right"></i> PC-98 Converter</h1>
	<p>Submit your MusicXML creations here! The below general process is used to generate PC-98 files:</p>
	<img src = "{% static 'converter/img/diagram.svg' %}" class = "img-fluid mx-auto d-block m-3">
	<p>Additional details about each component is located in the homepage.</p>
	<p>Before you submit, <em>ensure that your submission meets the following restrictions</em>:</p>
	<ul>
		<li><b>Your MusicXML filename shouldn't exceed 8 characters.</b> This is a MS-DOS restriction beyond my control.</li>
		<li><b>Your score shouldn't use any more than 9 instruments</b> as that's the maximum number of instrument channels PMD allows for.</li>
		<li>The following features are <em>not supported</em> and should not be included in your scores:</li>
		<ul>
			<li><b>Unpitched Drums of any kind.</b> Sadly, I was not able to find any features in <code>music21</code> which supports reading drum notes, which rules out PC-98 drum support. <em>Pitched percussion works fine.</em></li>
			<li><b>Multiple repeat endings</b> Similarly, I was not able to find <code>music21</code> inclusion for this feature either.</li>
			<li><b>Measure repeats, specifically <a target = "_blank" href = "https://musescore.org/sites/musescore.org/files/2018-10/measure%20repeat%20symbol.gif">this notation</a>.</b>While specific sheet music software may support this notation, MusicXML does not.</li>
			<li><b>Instrument Changes</b> are a planned upcoming feature. Please don't include them yet.</li>
		</ul>
	</ul>
	<p>When you submit your MusicXML file, <code>autoXMD</code> will analyze it and request appropriate PC-98 instruments. Afterwards you'll get PMD's console output and (hopefully) a <code>.M2</code> file! Consult the console output if something looks wrong.</p>
	<div class = "row">
		<div class = "col-md-3">
			<form method = "POST" id = "MusicXML-submission" class = "text-center">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<input type = "submit" value = "Post" class = "btn btn-primary btn-block">
				{% endbuttons %}
			</form>
		</div>
		<div class = "col-md-9 my-auto"><div id = "errors"><div class="alert alert-primary text-center" role="alert"><i class="fas fa-info-circle"></i> Awaiting your score upload</div></div></div>
	</div>
{% endblock %}
{% block js %}
	<script src = "{% static 'converter/js/converter_start.js' %}"></script>
{% endblock %}

