{% extends 'autoXMD/home.html' %}
{% load static %}
{% block title %}Instrument Fill In{% endblock %}
{% block body %}
	<h1>Instrument Fill In</h1>
	<p>It is now time to select appropriate PC-98 instruments for your score. There are two types of selectable instruments: FM Synthesis and SSG, of which a maximum of <b>6</b> and <b>3</b> instruments respectively are supported. (My suggestion is to use the SSG instruments as accompaniments since the FM instruments are <em>significantly</em> louder) It is recommended to pair your score's instruments with related PC-98 instruments (e.g. pair bass instruments together) to ensure your score's notes lie within each PC-98 instrument's note range.</p>

	<p>For your convenience, each instrument's PC-98 ID and their "colloquial" name are listed in the below table, as well as a pre-recorded sample. (Credit goes to pedipanol for the instrument selection)</p>

	<div id = "accordion" class = "mb-3">
		<div class="card">
			<div class="card-header text-center" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						PC-98 Instrument Reference Table
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<div class = "table-responsive">
						<table class = "table text-center">
							<thead>
								<tr>
									<th>PC-98 ID</th>
									<th>Colloquial Instrument Name</th>
									<th>Instrument Sample</th>
								</tr>
							</thead>
							<tbody>
								{% for key,value in table.items %}
									<tr>
										<td class = "align-middle">{{ value.0 }}</td>
										<td class = "align-middle">{{ value.1 }}</td>
										{% with 'sound/'|add:key|add:'.mp3' as sound_path %}
											<td><audio controls><source src = "{% static sound_path %}" type = "audio/mp3"></audio></td>
										{% endwith %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form method = "POST" id = "instrument-form">
		<div class = "row justify-content-center">
			{% for part in part_names %}
				<div class = "col-md-3 text-center mb-3">
					<div class = "rounded border-left border-right border-bottom instrument-body">
						<p class = "mt-0 instrument-class"><small>TBD</small></p>
						<h2>{{ part.name }}</h2>
						<p>PC-98 Instrument:</p>
						<div class = "mx-3 mb-3">
							<select class = "form-control">
								<option>Choose</option>
								{% for key, value in table.items %}
									<option>{{ value.1 }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class = "row mb-3 justify-content-center" id = "errors" style = "display:none;"></div>
		<div class = "row mb-3 justify-content-center">
			<div class = "col-md-2" id = "row-button"><button type="submit" class="btn btn-primary btn-lg btn-block" id = "submit-button" disabled>Live Preview!</button></div>
		</div>
		<div id = "progress-group">
			<div class="progress mb-3">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<p id = "progress-desc"><b>Status</b>: Refining Raw Data...</p>
		</div>
	</form>
{% endblock %}
{% block style %}
<style>
	.instrument-body{
		border-top:1px solid #0A1128;
	}
	.instrument-class{
		background-color:#0A1128;
		color:white;
	}
	.progress{
		height:1rem;
	}
	#progress-group{
		display:none;
	}
	pre{
		white-space:pre-wrap;
		text-align:left;
		background-color:#E8E8E8;
		padding:0.5rem;
		border:1px solid gray;
	}
</style>
{% endblock %}
{% block js %}
	<script src = "{% static 'converter/js/instrument_fill.js' %}"></script>
{% endblock %}
