/*
colors: 881d27
713a59

*/
.main-header{
	color:white;
	background: rgb(136,29,39);
	background: linear-gradient(16deg, rgba(136,29,39,1) 14%, rgba(113,58,89,1) 59%);
	/*height:100vh;*/
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

.main-body{
	background-color:green;
}

.menu{
	background-color:#890189;
	padding:0.5rem;
	border-radius:5px;
	color:#F9DC5C;
	border:1rem solid #890189;
}

.menu:hover{
	background-color:#0A1128;
	border:1rem solid #731963;
}

#footer{
	background-color:#3060d0ff;
	color:#F9DC5C;
	border-top:3px solid #cb0000ff;
}
