{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Home{% endblock %} | autoXMD</title>
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- main css file (will have to djangoify it later) -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

		<!-- fontawesome -->
		<script src="https://kit.fontawesome.com/ccc0f1dbf3.js"></script>
		{% block style %}{% endblock %}

	</head>
	<body>
		<div class = "jumbotron jumbotron-fluid main-header">
			<div class = "container text-center">
				<h1 class = "display-3">autoXMD</h1>
				<h3 ><small><em>"Ufu, ufu, ufufufufufufufu..."</em></small></h3> 
				<h1>Written by kir12</h1>
				<h2>A Redditaisai 2019 Submission</h2>
				<a href = "/"><img src = "{% static 'img/mascot.png'%}" class = "img-fluid rounded"></a>
				<p class = "pt-3">Figure 1: Smug, Past and Present</p>
				<div class = "row">
					<div class = "col-md-4"><a href = "https://gitlab.com/kir12/autoXMD" target = "_blank"><h3 class = "menu">Gitlab Repo</h3></a></div>
					<div class = "col-md-4"><a href = "{% url 'converter:index' %}"><h3 class = "menu">Converter</h3></a></div>
					<div class = "col-md-4"><a href = "/sources"><h3 class = "menu">Related Links</h3></a></div>
				</div>
			</div>
		</div>
		<div class = "container">
			<!-- TODO: insert space here -->
			{% block body %}
			<div class="alert alert-info text-center" role="alert">
				<i class="fas fa-certificate"></i> <b>New</b>: Resolved a bug concerning converting Muscscore <code>.mscz</code> submissions and X servers
			</div>
			<h1>Yet another small FAQ</h1>
			<ol>
				<h3><li>What is autoXMD?</li></h3>
				{# consider adding PC-9801 and/or YM2608 sound card #}
				<p>autoXMD, without getting into the specifics, is a converter between GUI-based sheet music composing software (e.g. <a href = "https://musescore.com" target = "_blank">Musescore</a>) and a specific type of <em><a href = "https://en.wikipedia.org/wiki/Chiptune" target = "_blank">chiptune</a></em> music, thus allowing users to produce fully authentic chiptune music <em>without knowing any code.</em>. 
				It specializes in producing chiptune music for the the <a href = "https://en.wikipedia.org/wiki/PC-9800_series" target = "_blank">PC-9800 series</a> personal computers (a superpower in the 1980s ~ 1990s Japanese PC market) and in particular for its <a href = "https://en.wikipedia.org/wiki/Yamaha_YM2608" target = "_blank">YM2608</a> sound card.</p>
				<h3><li>Why select a platform as obscure as the PC-98?</li></h3>
				<p>The PC-98's sound card is well known for producing fantastic video game OSTs -- one example is the <a href = "https://en.touhouwiki.net/wiki/Touhou_Project" target = "_blank">Touhou Project</a>'s* earliest games on the PC-98 platform. Thanks to ZUN's (Touhou's maker) musical prowess (<a href = "https://www.youtube.com/watch?v=n1F6P6iavag" target="_blank">example here</a>) and Touhou's large fanbase, <em>many</em> modern songs have been arranged for the PC-98. (Mostly <a href = "https://www.youtube.com/watch?v=lv322JYvig4" target = "_blank">newer Touhou songs</a>, but <a href = "https://www.youtube.com/watch?v=FQxMGwZHs2k" target = "_blank">some not</a>) autoXMD exists as a way to quickly acclimate interested newcomers to the world of PC-98 arranges.</p>
				<p> And yes, I like Touhou.</p>
				<h3><li>How does autoXMD function?</li></h3>
				<p>The exact technical details are located inside <code>README.md</code> on autoXMD's repository, but the general process is</p>
				<ol class = "mb-3">
					<li>A user submits a sheet music file, preferrably a MusicXML file, (The universal sheet music filetype) and selects appropriate PC-98 instruments.</li>
					<li>autoXMD then reads through the sheet music file and generates an equivalent PC-98 source file, otherwise known as a <code>.mml</code> file.</li>
					<li>The <code>.mml</code> file is passed into the <a href = "https://battleofthebits.org/lyceum/View/Professional+Music+Driver+%28PMD%29/" target = "_blank">Professional Music Driver</a>, a music driver devised by M. Kajihara in the 90s that compiles PC-98 music, and outputs a playable <code>.M2</code> (or <code>.M</code>) file.</li>
					<li>The <code>.M2</code> file is extracted into a more accessible audio format (<code>.wav</code>).</li>
				</ol>
				<p>There are a number of required external dependencies required should you wish to replicate this process locally, which will be listed in <code>README.md</code></p>
				<h3><li>Can autoXMD truly replace knowing MML syntax?</li></h3>
				<p>For typical arrangements, yes. However, autoXMD may not be as effective with more advanced/feature-full pieces, at which point it may help to have some syntax knowledge.
				In short, autoXMD is a <a href = "https://www.youtube.com/watch?v=535Zy_rf4NU" target = "_blank">first step into a larger world</a>.</p>
				<h3><li>How can I contribute/submit a bug report?</li></h3>
				<p>You may do either/both of these things by <a href = "https://gitlab.com/kir12/autoXMD/issues">submitting an issue</a> on autoXMD's repository.</p>
			</ol>
			<p class = "small">*Touhou's deurotagonist -- Marisa Kirisame -- in her PC-98 outfit is showcased as autoXMD's mascot because she is best girl.</p>
			{% endblock %}
		</div>
		<div class = "jumbotron jumbotron-fluid p-2 m-0" id = "footer">
			<div class = "container"><p class = "m-0 text-center"> <b>"Well, perhaps I shall partake of your small spring as well?"</b></p></div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block js %}{% endblock %} {# optional js #}
	</body>
</html>
