{% extends 'autoXMD/home.html' %}
{% load static %}
{% block title %}Related Links & Credits{% endblock %}
{% block body %}
<h1>Related Links/Credits</h1>
<p>This page lists additional information regarding PC-98 music arranges (and more info regarding autoXMD's stack) for your interest, as well as credits for people who gave me valuable aid for this project.</p>
<div class = "row">
	<div class = "col-md-4">
		<h2 class = "text-center">PC-98 Info</h2>
		<ul>
			<li><a href = "https://battleofthebits.org/lyceum/View/Professional+Music+Driver+%28PMD%29/">PMD's BattleOfTheBits Entry</a></li>
			<li><a href = "http://delmunsoft.com/PMD%20Programming.html">Noyemi K.'s PMD Intro Guide</a></li>
			<li><a href = "https://pigu-a.github.io/pmddocs/pmdmml.htm">(Translated) Professional Music Driver Documentation</a></li>
			<li>mrnauge's YouTube PMD Tutorials (<a href = "https://www.youtube.com/watch?v=xEiCngF5v1A">Part 1</a> and <a href = "https://www.youtube.com/watch?v=FyKxZXTvBvg">Part 2</a>)</li>
			<li><a href = "https://discord.gg/3yX6dxB">PC-98 Discord Link</a></li>
		</ul>
	</div>
	<div class = "col-md-4">
		<h2 class = "text-center">Stack Info</h2>
		<ul>
			<li>Python, <a href = "https://www.djangoproject.com/">Django Web Framework</a>, & <a href = "https://web.mit.edu/music21/"><code>music21</code> Musicology Toolkit</a></li>
			<li><a href = "https://getbootstrap.com/">Bootstrap CSS Framework</a> & <a href = "https://jquery.com/">JQuery Javascript Framework</a></li>
			<li><a href = "http://www.dosemu.org/">Dosemu MS-DOS Emulator</a> & PMD</li>
			<li>gzaffin's PMD music player and audio extractor, <a href = "https://github.com/gzaffin/pmdmini">pmdmini</a></li>
			<li><a href = "https://cloud.google.com/compute/">Google Compute Engine</a> & <a href ="https://www.nginx.com/">Nginx</a></li>
		</ul>
	</div>
	<div class = "col-md-4">
		<h2 class = "text-center">Key Credits</h2>
		<ul>
			<li><a href = "https://www.youtube.com/channel/UCRcvjNhtJBtZoPjXPhtBamA">Pedipanol</a></li>
			<li>🦆2608#6983 (Discord)</li>
			<li><a href = "https://github.com/gzaffin">gzaffin</a></li>
			<li><a href = "https://www.youtube.com/user/ShinkoNet">ShinkoNet</a></li>
		</ul>
	</div>
</div>
<h3 class = "mb-3 text-center">Thank you for visiting!</h3>
{% endblock %}
