{% extends 'autoXMD/home.html' %}
{% block title %}Error 500: Something Went Wrong! {% endblock %}
{% block body %}
	<div class = "row">
		<div class = "col-md-6 my-auto">
			<h1>Error 500: Server Has OOF'd</h1>
			<p>We apologize, something went wrong with your application. Chances are this was a temporary problem that should've resolved itself by now, so feel free to <a href = "/converter">retry from the beginning</a>. If the problem persists, please <a href = "https://gitlab.com/kir12/autoXMD/issues">file an issue on Gitlab</a> detailing the steps you took that caused your error.</p>
		</div>
		<div class = "col-md-6">
			<img src = "https://cdn.awwni.me/z2m6.png" class = "img-fluid">
			<p class = "text-center mt-3">Figure 2: <a href = "https://www.youtube.com/watch?v=4272Uwc0WoA" target = "_blank">a really bad incident</a></div>
		</div>
	</div>
{% endblock %}
